
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
font-size: 5rem;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(187, 169, 121);
}

.list {
    width: 40rem;
}

input {
    border: none;
    width: 100%;
}

ul li {
    border: 1px solid rgb(219, 219, 219);
    list-style: none;
    padding: 5px;
}